<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos esenciales -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgendaEstudiantil"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Actividad Principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Actividad del Mapa -->
        <activity
            android:name=".MapActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <!-- Actividad para Agregar Tareas -->
        <activity
            android:name=".AddTaskActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <!-- Actividad para Buscar Tareas -->
        <activity
            android:name=".SearchTaskActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <!-- Actividad para Editar Tareas -->
        <activity
            android:name=".EditTaskActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <!-- Bottom Sheet para Opciones de Tareas -->
        <activity
            android:name=".TaskOptionsBottomSheet"
            android:exported="false"
            android:theme="@style/Theme.BottomSheetDialog"/>

        <!-- API de Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

    </application>

</manifest>
